ci:
  autofix_prs: false
  autoupdate_schedule: 'quarterly'
  skip: [poetry-lock]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-added-large-files
      args: ['--maxkb=1000']
    - id: detect-aws-credentials
      args: [--allow-missing-credentials]
    - id: detect-private-key
    - id: mixed-line-ending
    - id: trailing-whitespace
    - id: no-commit-to-branch
      args: [--branch, main, --branch, dev]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.1.11'
    hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: '1.7.0'  # add version here
    hooks:
      - id: poetry-check
      - id: poetry-lock
        args: [--no-update]
